DigitalCircuits/nbproject/private/
DigitalCircuits/build/
/PartE/nbproject/private/
/PartE/build/
/PartE/dist/
/PartG/nbproject/private/
/PartG/build/
/PartG/dist/
/PartH/nbproject/private/
/PartH/build/
/PartH/dist/